@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
}

body {
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
  width: 100%;
}